body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
    background-color: black;
}
.App{
    border: 2px solid salmon;
    color: salmon;
    background-color: black;
    padding: 3rem;
    margin: 30vh auto;
    text-align: center;
}
.profile-photo{
    min-height: 200px;
    min-width: 200px;
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3135/3135715.png);
    background-size: contain;
    margin-bottom: 1rem;
}